#[include]
#    path = ~/.dotsomething/.gitconfig
[user]
#	name = My Name
#	email = me@example.com
[alias]
   st = status
   ci = commit
   hist = log --pretty=format:\"%Cred%h%Creset %Cgreen%ad%Creset %C(auto)%d%Creset %s%d %C(bold blue)[%an]%Creset\" --graph --date=short
   histall = log --all --pretty=format:\"%Cred%h%Creset %Cgreen%ad%Creset %C(auto)%d%Creset %s%d %C(bold blue)[%an]%Creset\" --graph --date=short
   refresh = remote update
   rup = remote update
   undo = reset HEAD~1 --mixed
   saveall = "!fish -c git-saveall"
   wip = "!fish -c git-wip"
   amend = commit -a --amend
   ditch = "!fish -c git-ditch"
   eject = "!fish -c git-eject"
   claim = "!fish -c git-claim"
#   solo  = "!fish -c git-claim"
   tmp   = "!fish -c git-tmp"
	unadd = reset HEAD
	pairall = "!fish -c git-pairall"
	soloall = "!fish -c git-soloall"
	mobhook = "!fish -c git-mobhook"
	mobinit = "!fish -c git-mobinit"
	mobremove = "!fish -c git-mobremove"
[push]
   default = current

